.TodayForecast {
  border: 3px #362999 solid;
  margin-bottom: 0px;
  padding-top: 10px;
  padding-bottom: 10px;
  line-height: 35px;
}

.TodayForecast .date {
  text-align: center;
  border: 1px #362999 solid;
}

.TodayForecast .clouds {
  text-transform: capitalize;
  font-size: 40px;
}
