.Weather {
  border: 3px #362999 solid;
  border-radius: 4px;
  margin-bottom: 0;
  padding-top: 30px;
  padding-bottom: 10px;
  text-align: center;
}

.enter-search {
  outline: 0;
  border: 0;
  border-bottom: 2px solid #362999;
  background: transparent;
  width: 100%;
  margin-top: 20px;
}

.btn-primary {
  margin: 60px 0 15px 0;
  background: #362999;
  padding: 10px 20px;
  font-size: 17px;
}

.today {
  border: 3px #362999 solid;
  text-align: center;
  border-radius: 80px;
  margin-bottom: 80px;
  padding-top: 15px;
  padding-bottom: 10px;
  font-size: 25px;
}

.city-chosen {
  font-size: 35px;
  font-weight: bold;
}

.temp-now {
  font-size: 30px;
  font-weight: 800;
}

.units {
  font-size: 16px;
  vertical-align: super;
}

.todayForecast {
  border: 3px #362999 solid;
  border-radius: 4px;
  margin-bottom: 0px;
  padding-top: 10px;
  padding-bottom: 10px;
  line-height: 35px;
}

.date {
  text-align: center;
  border: 1px #362999 solid;
  border-radius: 4px;
}

.clouds canvas {
  text-transform: capitalize;
  font-size: 10px;
}
